{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item">Community Creation</li>
  {% if user.is_authenticated %}
  <!--li class="breadcrumb-item active"><a href="{% url 'user_dashboard' %}">Dashboard</a></-->
  {% endif %}

{% endblock %}

{% block content %}


{{errormessage}}

{% if user.is_authenticated %}
<form method="post" name = "form" action="{% url 'create_community' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" ng-model="name" ng-pattern="/^[a-z A-Z ()]*$/" placeholder="Give a name to your community"  required>
    <div class="invalid-feedback">
      <span class="label" style="color:red" ng-show = "form.name.$error.pattern" >Only alphabets are allowed</span>
    <span style="color:red" ng-show="form.name.$dirty && form.name.$invalid">Please provide a name for this community</span>
    </div>
  </div>
  <div class="form-group">
    <label for="tag_line">Tag Line</label>
    <input type="text" class="form-control" id="tag_line" name="tag_line" placeholder="Give a tag line to your community" required>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <textarea id="comm_text_box"  class="form-control" name="desc" rows="6"></textarea>
    <small id="bodyhelp" class="form-text text-muted">Let people know what this community is about</small>
  </div>
  <div class="form-group">
      <label for="Category">Catetgory</label>
      <select id="category" name="category" class="btn btn-primary">
        {% for ctype in ctypes %}
          <option value="{{ ctype.pk }}">{{ ctype.name }}</option>
        {% endfor %}
      </select>
    </div>  
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username of the user who will be the community admin" required>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <label class="custom-file">
      Community Image
      <input type="file" class="custom-file-input" id="community_image" name ="community_image" >
      <input id="id_x" name="x" type="hidden">
      <input id="id_y" name="y" type="hidden">
      <input id="id_width" name="width" type="hidden">
      <input id="id_height" name="height" type="hidden">
      <span class="custom-file-control"></span>
    </label>
  </div>
  <button id="create" type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Create</button>
</form>
<!-- MODAL TO CROP THE IMAGE -->
  <div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Crop image for Thubnail</h4>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <div class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default js-zoom-in">
              <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button type="button" class="btn btn-default js-zoom-out">
              <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary js-crop-and-upload">Crop</button>
        </div>
      </div>
    </div>
  </div>
<br />
{% endif %}
{% endblock %}
{% block javascript %}
<script src="{% static 'js/ckeditor/ckeditor.js'  %}"></script>
<script>
  ClassicEditor
    .create( document.querySelector( '#comm_text_box' ) )
    .then( comm_text_box => {
      console.log( comm_text_box );
    } )
    .catch( error => {
      console.error( error );
    } );

$(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#community_image").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#modalCrop").modal("hide");
      });

    });
</script>
<script src="{% static 'js/jquery-3.2.1.min.js'  %}"></script>
<script src="{% static 'js/bootstrap_fileinput/piexif.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/purify.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/sortable.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/fileinput.min.js' %}">
</script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/cropper.min.js' %}"></script>
{% endblock %}
